@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        function setMoney() {
            if ($("input[name='Type']:checked").val() == 'qq') {
                $('#Amount').val('0.1');
            }
            else {
                $('#Amount').val($("input[name='a']:checked").val());
            }
        }
        var time = 300;
        var timer;
        function setTip() {
            if (--time <= 0) {
                clearInterval(timer);
                $('#tip').html('');
                $('#qrcode').html("");
                $('#info').html("二维码已过期，请重新下单！");
            }
            else {
                $('#tip').html('二维码有效期' + time + '秒');
            }
        }

        $(function () {
            $.connection.hub.logging = true;
            var chat = $.connection.chatHub;
            chat.client.callback = function (msg) {
                $('#tip').html('');
                clearInterval(timer);
                $('#qrcode').html("");
                $('#info').html(msg);
            };
            $("input[name='a']").click(function () {
                setMoney();
            });
            $("input[name='Type']").click(function () {
                setMoney();
            });

            $.connection.hub.start().done(function () {
                $("#btnSend").click(function () {
                    chat.invoke("GetQR", $('#Type:checked').val(), $('#Amount').val())
                        .done(function (ret) {
                            if (ret.length >= 100) {
                                $('#qrcode').html("");
                                $('#qrcode').append("<img src='data:image/png;base64," + ret + "' alt='扫描二维码，二维码有效期5分钟' />");
                                $('#info').html("电脑用户直接扫码付款，手机用户截屏或保存二维码到相册再扫，付款完毕这里会显示付款结果。二维码有效期五分钟，请勿重复使用！");
                                time = 300;
                                clearInterval(timer);
                                timer = setInterval(setTip, 1000);
                            }
                            else {
                                $('#qrcode').html("");
                                $('#info').html(ret);
                            }
                        })
                        .fail(function (e) {
                            alert(e);
                        });
                });

            });

        });
    </script>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-light">
                    <h2>自助充值，即时到账</h2>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Amount">充值金额</label><br />
                                    <label><input type="radio" id="a1" name="a" value="0.01" />0.01元</label><br />
                                    <label><input type="radio" id="a2" name="a" value="10" />10元</label><br />
                                    <label><input type="radio" id="a3" name="a" value="300" />300元</label><br />
                                    <label><input type="radio" id="a4" name="a" value="600" checked="checked" />600元</label><br />
                                    <label>其它金额(整数)：<input type="text" id="Amount" name="Amount" value="600" type="number" />元</label>
                                </div>
                                <div class="form-group">
                                    <label for="Type">付款方式</label><br />
                                    <label><input checked="checked" id="Type" name="Type" type="radio" value="alipay" />支付宝</label><br />
                                    <label><input id="Type" name="Type" type="radio" value="wechat" />微信</label><br />
                                    <label><input id="Type" name="Type" type="radio" value="qq" />QQ(仅供测试0.1元)</label>
                                </div>
                                <div class="form-group">
                                    <div id="tip" style="color:red"></div>
                                    <div id="qrcode"></div>
                                    <div id="info" style="color:red"></div>
                                </div>
                                <div class="form-group">
                                    <input type="button" class="btn btn-success btn-block" id="btnSend" value="确定充值" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>